# Environments
venv/
.venv/
env/
.env
.env.*

# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Django DB
db.sqlite3
db.sqlite3-journal

# Django migrations cache
*/migrations/__pycache__/

# Logs
*.log

# ML / training outputs
ml_artifacts/
*_runs/

# Static / media (if used)
staticfiles/
media/